body {
    background-image: linear-gradient(#333333, #111111);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 50px;
}

/* Control the right side */
.right {
    right: 0px;
}

a {
    color:#1DB954;
}